<div class="mobile-menu js-menu-container" id="mobilemenu">
    <button class="modal__close-btn js-close-menu">
        <svg width="30" height="30">
            <use href="./images/icons.svg#icon-close"></use>
        </svg>
    </button>
    <div class="mobile-menu__item">
        <div class="mobile-menu__center">
            <button type="button" class="mobile-menu__button" data-modal-open>
                <div class="mobile-menu__button--gap">
                    Buy now<svg height="8px" width="5px">
                        <use href="./images/icons.svg#icon-mobile-button"></use>
                    </svg>
                </div>
            </button>
        </div>
        <ul class="mobile-menu__links">
            <li class="mobile-menu__links-item">
                <a class="mobile-menu__link mobile-menu__link--current js-close-menu" href="#home">Home</a>
            </li>
            <li class="mobile-menu__links-item">
                <a class="mobile-menu__link" href="#about">About us</a>
            </li>
            <li class="mobile-menu__links-item">
                <a class="mobile-menu__link" href="#about">How it's made?</a>
            </li>
            <li class="mobile-menu__links-item">
                <a class="mobile-menu__link" href="#products">Our products</a>
            </li>
            <li class="mobile-menu__links-item">
                <a class="mobile-menu__link" href="#contacts">Contact</a>
            </li>
        </ul>
    </div>
</div>
<header class="header mobile-header" id="home">
    <div class="container">
        <nav class="header__nav-mobile">
            <div class="header__logo">
                <picture>
                    <source srcset="./images/menu-logo.png 1x, ./images/menu-logo@2x.png 2x"
                        media="(min-width: 1280px)" />
                    <source srcset="./images/menu-logo.png 1x, ./images/menu-logo@2x.png 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./images/menu-logo.png 1x, ./images/menu-logo@2x.png 2x"
                        media="(min-width: 320px)" />
                    <img src="./images/menu-logo.png" alt="page logo" />
                </picture>
            </div>
            <div class="header__desktop-menu">
                <ul class="menu__list">
                    <li class="menu__item" id="menu-first">
                        <a href="./index.html" class="menu__item--current">Home</a>
                    </li>
                    <li class="menu__item"><a href="#about">About us</a></li>
                    <li class="menu__item">
                        <a href="#about">How it's made?</a>
                    </li>
                    <li class="menu__item"><a href="#products">Our products</a></li>
                    <li class="menu__item"><a href="#contacts">Contact</a></li>
                </ul>
            </div>
            <div>
                <button type="button" class="header__burger js-open-menu" aria-expanded="false"
                    aria-controls="mobilemenu">
                    <svg height="12px" width="20px">
                        <use href="./images/icons.svg#icon-burger"></use>
                    </svg>
                </button>
                <button type="button" class="mobile-menu__button" id="desktop-pc" data-modal-open>
                    <div class="mobile-menu__button--gap">
                        Buy now<svg height="8px" width="5px">
                            <use href="/images/icons.svg#icon-mobile-button"></use>
                        </svg>
                    </div>
                </button>
            </div>
        </nav>
        <div class="header__banner">
            <div class="header__banner-background">
                <picture id="pic1">
                    <source srcset="
                ./images/banner-elipse.png    1x,
                ./images/banner-elipse@2x.png 2x
              " media="(min-width: 1280px)" />
                    <source srcset="
                ./images/banner-elipse.png    1x,
                ./images/banner-elipse@2x.png 2x
              " media="(min-width: 768px)" />
                    <source srcset="
                ./images/banner-elipse.png    1x,
                ./images/banner-elipse@2x.png 2x
              " media="(min-width: 320px)" />
                    <img src="./images/banner-elipse.png" alt="elipse" />
                </picture>
                <picture id="pic2">
                    <source srcset="
                ./images/banner-icecream.png    1x,
                ./images/banner-icecream@2x.png 2x
              " media="(min-width: 1280px)" />
                    <source srcset="
                ./images/banner-icecream.png    1x,
                ./images/banner-icecream@2x.png 2x
              " media="(min-width: 768px)" />
                    <source srcset="
                ./images/banner-icecream.png    1x,
                ./images/banner-icecream@2x.png 2x
              " media="(min-width: 320px)" />
                    <img src="./images/banner-icecream.png" alt="icecream" />
                </picture>
            </div>
            <div class="header__banner-title">
                <h1>
                    ICE CREAM MADE WITH
                    <span class="header__banner-title--red">PASSION</span>
                </h1>
                <div class="header__banner-buttons">
                    <a href="#products"><button class="header__banner-button1">Products</button></a>
                    <a href="#about"><button class="header__banner-button2">How it's made?</button></a>
                </div>
            </div>
        </div>
        <div class="header__counters-container">
            <div class="header__counter-container">
                <svg>
                    <use href="./images/icons.svg#ellipse-white"></use>
                </svg>
                <span class="header__counter" id="cafes">16</span>
                <span class="header__counter-title">cafes</span>
            </div>
            <div class="header__counter-container">
                <svg>
                    <use href="./images/icons.svg#ellipse-white"></use>
                </svg>
                <span class="header__counter" id="food-trucks">23</span>
                <span class="header__counter-title">food trucks</span>
            </div>
        </div>
        <div class="header__tablet-desktop-icons">
            <div>
                <picture>
                    <source srcset="
                ./images/spilling-milk.png    1x,
                ./images/spilling-milk@2x.png 2x
              " media="(min-width: 1200px)" />
                    <source srcset="
                ./images/spilling-milk.png    1x,
                ./images/spilling-milk@2x.png 2x
              " media="(min-width: 768px)" />
                    <source srcset="
                ./images/spilling-milk.png    1x,
                ./images/spilling-milk@2x.png 2x
              " media="(min-width: 320px)" />
                    <img id="pic3" src="./images/spilling-milk.png" alt="spilling-milk" />
                </picture>
            </div>
            <div class="header__description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="header__circle-button">
                    <img src="./images/arrow-right@2x.png" alt="arrow right button" width="26" height="26" />
                </button>
            </div>
            <div>
                <picture>
                    <source srcset="./images/woman.png 1x, ./images/woman@2x.png 2x" media="(min-width: 1280px)" />
                    <source srcset="./images/woman.png 1x, ./images/woman@2x.png 2x" media="(min-width: 768px)" />
                    <source srcset="./images/woman.png 1x, ./images/woman@2x.png 2x" media="(min-width: 320px)" />
                    <img id="pic4" src="./images/woman.png" alt="woman" />
                </picture>
            </div>
        </div>
    </div>
</header>